body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, rgb(94, 255, 116) 0%, rgb(222, 4, 95) 100%); /* w3c */
}

button{
  cursor: pointer;
}